/*Reset */
body h1, h2, h3, p, ul{
  padding: 0px;
  margin: 0px;
}

/* Sumário

1- Navbar
2- Section Chamada
3- Section Valores
4- Section Tipos
5- Section Locais
6- Section Contato
7- Footer
*/

.container{
  max-width: 960px;
  margin: 0 auto;
}

.clear:after, .clear:before{
  content:"";
  display: table;
  clear: both;
}

/* 1- Navbar */
nav{
  background: black;
  padding: 20px 0;
}

nav ul li a{
  color: white;
  text-decoration: none;
  font-size: 1.125em;
}

nav ul{
  float: right;
}

nav ul li{
  display: inline-block;
  margin: 10px 10px;
}

nav ul li:after{
  content:"";
  background-color: white;
  width: 0;
  height: 5px;
  display: block;
  transition: 0.3s;
}

nav ul li:hover::after{
  width: 100%;
}

/* 2- Section Chamada */
#chamada{
  background: url("../img/bg-intro.jpg") no-repeat center center;
  background-size: cover;
  padding: 150px 0;
}

#chamada h1, #chamada h5{
  text-align: center;
  color: white;
}

#chamada h1::after{
  content:"";
  background: white;
  display: block;
  width: 20px;
  height: 4px;
  margin: 10px auto 0 auto;
}

#chamada h1{
  font-size: 3em;
  text-transform: uppercase;
}

#chamada h5{
  font-size: 1.125em;
  font-style: italic;
}

@media(max-width: 960px){
  #valores .container{
    max-width: 600px;
  }

  #valores .valor img{
    max-width: 280px;
  }

  #valores .valor h3{
    font-size: 1.125em;
  }

  @media (max-width: 600px){
    #valores.container{
      max-width: 300px;
    }

    #valores .valor{
      margin: 20px 0;
    }

    #valores .valor img{
      width: 300px;
    }

    #valores .valor h3{
      font-size: 2.25em;
      margin: 0 auto;
    }
  }
}

/* 3- Section Valores */
#valores{
  padding: 80px 0;
}

#valores h2, p{
  text-align: center;
}

#valores h2{
  font-size: 2.25em;
  text-align: center;
  margin-bottom: 20px;
}

#valores p{
  font-size: 1.125em;
  font-style: italic;
  width: 400px;
  text-align: center;
  margin: 0 auto;
}

#valores .valor{
  float: left;
  margin-left: 10px;
}

#valores .valor h3{
  width: 220px;
  font-size: 2.25em;
  background-color: black;
  padding: 5px 0 10px 0;
  color: white;
  text-align: center;
  text-transform: lowercase;
  font-style: italic;
  position:relative;
  top: -25px;
}

/* 4- Section Tipos */

#tipos-cafe{
  background-color: #e7e4d8;
  padding: 60px 0;
}

#tipos-cafe .tipo-item{
  width: 300px;
  float: left;
  margin: 10px;
}

#tipos-cafe .tipo-item p{
  font-size: 0.875em;
}

#tipos-cafe .tipo-item h2{
  font-size: 2.25em;
  text-align: center;
}

#tipos-cafe .tipo-item h2::before{
  content:"";
  width: 100px;
  height: 100px;
  display: block;
  border-radius: 50%;
  margin: 20px auto;
  border: 5px solid beige;
}

#tipos-cafe .tipo-item #paulista::before{
  background-color: #492901;
  box-shadow: 0 0 0 5px #492901;
}
#tipos-cafe .tipo-item #carioca::before{
  background-color: #c17139;
  box-shadow: 0 0 0 5px #c17139;
}
#tipos-cafe .tipo-item #mineiro::before{
  background-color: #d7a54d;
  box-shadow: 0 0 0 5px #d7a54d;
}

#tipos-cafe a{
  text-decoration: none;
  text-transform: uppercase;
  width: 180px;
  font-size: 1.125em;
  padding: 15px 0;
  color: black;
  text-align: center;
  font-weight: bold;
  margin: 20px auto 0 auto;
  border: 2px solid black;
  display: block;
  transition: 0.3s;
}

#tipos-cafe a:hover{
  background-color: black;
  color: white;
}

/* 5- Section Locais */

#locais{
  max-width: 960px;
  margin: 0 auto;
  padding: 20px 0;
  height: 1000px;
}

#locais .locais-uni{
  clear: both;
  margin: 60px auto;
}

#locais .locais-uni{
  margin: 0 auto;
  padding: 60px 0;
}

#locais .locais-uni img{
  width: 460px;
  display: block;
  float: left;
  margin: 0 10px;
}

#locais .locais-uni div{
  width: 460px;
  float: left;
  margin: 0 10px;
}

#locais .locais-uni p{
  font-size: 1.125em;
  line-height: 1.4em;
  text-align: left;
  max-width: 300px;
  margin: 0;
  margin-bottom: 40px;
}

#locais .locais-uni h2{
  font-size: 2.25em;
  margin-bottom: 20px;
}

#locais .locais-uni a{
  text-decoration: none;
  text-transform: uppercase;
  width: 150px;
  font-size: 1.125em;
  padding: 12px 0;
  color: black;
  text-align: center;
  float: left;
  font-weight: bold;
  margin: 20px auto 0 auto;
  border: 2px solid black;
  display: block;
  transition: 0.3s;
}

#locais-uni a:hover{
  background-color: black;
  color: white;
}

/* 6- Section Contato */
#contato{
  background: #e7e4d8;
  padding: 30px;
  margin: 0 auto;
}

#contato .parte-escrita{
  max-width: 960px;
  margin: 0 auto;
}

#contato .parte-escrita h2{
  font-size: 2.25em;
}

#contato .parte-escrita h3{
  font-style: italic;
  font-size: 1.5em;
}

#contato .parte-escrita form{
  float: left;
}

/* 7- Footer */
#fim{
  background: #d6d3c8;
  padding: 30px 0;
}

#fim .fim-conteudo{
  float: left;
  margin: 0 auto;
}